node_modules
dist
.env
.env.*
!.env.example
.git
.gitignore
.gitlab-ci.yml
README.md
npm-debug.log
.DS_Store
deployments/terraform/
deployments/docker/
deployments/prometheus/
deployments/grafana_data/
deployments/prometheus_data/
tests/
jest.config.js
